.all-coupons-container {
    padding: 16px;
    background-color: #f9f9f9;
    border-radius: 8px;
    background: linear-gradient(to right, #e0eafc, #cfdef3);
}

h1 {
    margin-bottom: 24px;
    color: #333;
    font-size: 24px;
}

.more-options {
    margin-bottom: 16px;
}

.more-options button {
    padding: 10px 20px;
    border: none;
    background-color: #234d7a;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.more-options button:hover {
    background-color: #1d3d5f;
}

.options-dropdown {
    margin-top: 8px;
}

.options-dropdown button {
    display: block;
    margin-top: 8px;
    padding: 10px 20px;
    border: none;
    background-color: #227e38;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.options-dropdown button:hover {
    background-color: #1d7730;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    background: #fff;
    border-radius: 8px;
    padding: 24px;
    max-width: 600px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-top: 0;
    margin-bottom: 16px;
    color: #333;
    font-size: 20px;
}

.add-coupon-form input,
.add-coupon-form select {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

.add-coupon-form button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.add-coupon-form button:first-of-type {
    background-color: #1b7430;
    margin-right: 8px;
}

.add-coupon-form button:first-of-type:hover {
    background-color: #1a672b;
}

.add-coupon-form button:last-of-type {
    background-color: #741d26;
}

.add-coupon-form button:last-of-type:hover {
    background-color: #6e1921;
}